
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttachmentProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AttachmentProcessing.Properties.Settings>
            <setting name="emailAddress" serializeAs="String">
                <value>zrefugee@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>OuadmfoyL8VvCpWcxbgZ9w==</value>
            </setting>
            <setting name="mailbox" serializeAs="String">
                <value>IHS</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>outlook.office365.com</value>
            </setting>
            <setting name="download" serializeAs="String">
                <value>C:\Files\download\</value>
            </setting>
            <setting name="process" serializeAs="String">
                <value>C:\Files\process\</value>
            </setting>
            <setting name="renamed" serializeAs="String">
                <value>C:\Files\renamed\</value>
            </setting>
            <setting name="fromCrop" serializeAs="String">
                <value>1630, 570</value>
            </setting>
            <setting name="toCrop" serializeAs="String">
                <value>1920, 640</value>
            </setting>
            <setting name="dpi" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="python" serializeAs="String">
                <value>C:\Program Files\Python38\</value>
            </setting>
        </AttachmentProcessing.Properties.Settings>
    </userSettings>
</configuration>